**Congratulations – you have been hired as Chief Data Scientist of MedCamp – a not for profit organization dedicated in making health conditions for working professionals better. MedCamp was started because the founders saw their family suffer due to bad work life balance and neglected health.**

**MedCamp organizes health camps in several cities with low work life balance. They reach out to working people and ask them to register for these health camps. For those who attend, MedCamp provides them facility to undergo health checks or increase awareness by visiting various stalls (depending on the format of camp).**

**MedCamp has conducted 65 such events over a period of 4 years and they see a high drop off between “Registration” and Number of people taking tests at the Camps. In last 4 years, they have stored data of ~110,000 registrations they have done.**

**One of the huge costs in arranging these camps is the amount of inventory you need to carry. If you carry more than required inventory, you incur unnecessarily high costs. On the other hand, if you carry less than required inventory for conducting these medical checks, people end up having bad experience.**

 

#### The Process:
* MedCamp employees / volunteers reach out to people and drive registrations.
  During the camp, People who “ShowUp” either undergo the medical tests or visit stalls depending on the format of health camp.
 

### Other things to note:
* Since this is a completely voluntary activity for the working professionals, MedCamp usually has little profile information   about these people.
* For a few camps, there was hardware failure, so some information about date and time of registration is lost.
* MedCamp runs 3 formats of these camps. The first and second format provides people with an instantaneous health score. The third format provides information about several health issues through various awareness stalls.

### Favorable outcome:
* For the first 2 formats, a favourable outcome is defined as getting a health_score, while in the third format it is defined as visiting at least a stall.
* You need to predict the chances (probability) of having a favourable outcome.
 

### Data Description
#### **Train.zip contains the following 6 csvs alongside the data dictionary that contains definitions for each variable**

* Health_Camp_Detail.csv – File containing Health_Camp_Id, Camp_Start_Date, Camp_End_Date and Category details of each camp.

* Train.csv – File containing registration details for all the test camps. This includes Patient_ID, Health_Camp_ID, Registration_Date and a few anonymized variables as on registration date.

* Patient_Profile.csv – This file contains Patient profile details like Patient_ID, Online_Follower, Social media details, Income, Education, Age, First_Interaction_Date, City_Type and Employer_Category

* First_Health_Camp_Attended.csv – This file contains details about people who attended health camp of first format. This includes Donation (amount) & Health_Score of the person.

* Second_Health_Camp_Attended.csv - This file contains details about people who attended health camp of second format. This includes Health_Score of the person.

* Third_Health_Camp_Attended.csv - This file contains details about people who attended health camp of third format. This includes Number_of_stall_visited & Last_Stall_Visited_Number.


#### **Test Set**

* Test.csv – File containing registration details for all the test camps. This includes Patient_ID, Health_Camp_ID, Registration_Date and a few anonymized variables as on registration date.

 

### Train / Test split:

*Camps started on or before 31st March 2006 are considered in Train
Test data is for all camps conducted on or after 1st April 2006.*


**Sample Submission:**

* *Patient_ID: Unique Identifier for each patient. This ID is not sequential in nature and can not be used in modeling.*

* *Health_Camp_ID: Unique Identifier for each camp. This ID is not sequential in nature and can not be used in modeling*

* *Outcome: Predicted probability of a favourable outcome*

# Import required Libraries

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

plt.rcParams['figure.figsize'] = [12,6]
pd.set_option('display.max_columns',50)  # to display all data

In [2]:
train=pd.read_csv(r"C:\Users\jakha\Downloads\Train (2).csv")
test=pd.read_csv(r"C:\Users\jakha\Downloads\Test (2).csv")
submissiondata=pd.read_csv(r"C:\Users\jakha\Downloads\Sample_Submission (1).csv")
hcdtl=pd.read_csv(r"C:\Users\jakha\Downloads\Health_Camp_Detail.csv")
pp=pd.read_csv(r"C:\Users\jakha\Downloads\Patient_Details.csv")
fhc=pd.read_csv(r"C:\Users\jakha\Downloads\First_Health_Camp.csv")
shc=pd.read_csv(r"C:\Users\jakha\Downloads\Second_Health_Camp.csv")
thc=pd.read_csv(r"C:\Users\jakha\Downloads\Third_Health_Camp.csv")

In [3]:
train.shape

(52694, 9)

In [4]:
test.shape

(22584, 8)

In [5]:
# combine the train and test data
combined = pd.concat([train, test], ignore_index= True)

In [6]:
combined.shape

(75278, 9)

In [7]:
combined.head(2)

,Patient_ID,Health_Camp_ID,Registration_Date,Var1,Var2,Var3,Var4,Var5,outcome
0,526927,6570,14/05/05,0,0,0,0,0,0.0
1,510379,6534,26/05/06,0,0,0,0,0,1.0

In [8]:
fhc.head(2)

   Patient_ID  Health_Camp_ID  Donation  Health_Score  Unnamed: 4
0      506181            6560        40      0.439024         NaN
1      494977            6560        20      0.097561         NaN

In [9]:
# merge fhc with combined data
combined = pd.merge(left = combined , right = fhc, on = ['Patient_ID', 'Health_Camp_ID'], how = 'left')

In [10]:
combined.shape

(75278, 12)

In [11]:
combined.head(2)

,Patient_ID,Health_Camp_ID,Registration_Date,Var1,Var2,Var3,Var4,Var5,outcome,Donation,Health_Score,Unnamed: 4
0,526927,6570,14/05/05,0,0,0,0,0,0.0,NaN,NaN,NaN
1,510379,6534,26/05/06,0,0,0,0,0,1.0,NaN,NaN,NaN

In [12]:
shc.head(2)

   Patient_ID  Health_Camp_ID  Health Score
0      526631            6536      0.875136
1      509122            6536      0.755700

In [13]:
# merge shc with combined data
combined = pd.merge(left = combined , right = shc, on = ['Patient_ID', 'Health_Camp_ID'], how = 'left')

In [14]:
combined.shape

(75278, 13)

In [15]:
combined.head(2)

,Patient_ID,Health_Camp_ID,Registration_Date,Var1,Var2,Var3,Var4,Var5,outcome,Donation,Health_Score,Unnamed: 4,Health Score
0,526927,6570,14/05/05,0,0,0,0,0,0.0,NaN,NaN,NaN,NaN
1,510379,6534,26/05/06,0,0,0,0,0,1.0,NaN,NaN,NaN,0.402054

In [16]:
thc.head(2)

,Patient_ID,Health_Camp_ID,Number_of_stall_visited,Last_Stall_Visited_Number
0,517875,6527,3,1
1,504692,6578,1,1

In [17]:
# merge thc with combined data
combined = pd.merge(left = combined , right = thc, on = ['Patient_ID', 'Health_Camp_ID'], how = 'left')

In [18]:
combined.shape

(75278, 15)

In [19]:
combined.head(2)

,Patient_ID,Health_Camp_ID,Registration_Date,Var1,Var2,Var3,Var4,Var5,outcome,Donation,Health_Score,Unnamed: 4,Health Score,Number_of_stall_visited,Last_Stall_Visited_Number
0,526927,6570,14/05/05,0,0,0,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,510379,6534,26/05/06,0,0,0,0,0,1.0,NaN,NaN,NaN,0.402054,NaN,NaN

In [20]:
hcdtl.head(2)

   Health_Camp_ID Camp_Start_Date Camp_End_Date Category1 Category2  Category3
0            6560       16-Aug-03     20-Aug-03     First         B          2
1            6530       16-Aug-03     28-Oct-03     First         C          2

In [21]:
# merge hcdtl with combined data
combined = pd.merge(left = combined , right = hcdtl, 
                    on = 'Health_Camp_ID', how = 'left')

In [22]:
combined.shape

(75278, 20)

In [23]:
combined.head(2)

,Patient_ID,Health_Camp_ID,Registration_Date,Var1,Var2,Var3,Var4,Var5,outcome,Donation,Health_Score,Unnamed: 4,Health Score,Number_of_stall_visited,Last_Stall_Visited_Number,Camp_Start_Date,Camp_End_Date,Category1,Category2,Category3
0,526927,6570,14/05/05,0,0,0,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,09-Jul-05,22-Jul-05,First,E,2
1,510379,6534,26/05/06,0,0,0,0,0,1.0,NaN,NaN,NaN,0.402054,NaN,NaN,17-Oct-05,07-Nov-07,Second,A,2

In [24]:
pp.head(2)

,Patient_ID,Online_Follower,LinkedIn_Shared,Twitter_Shared,Facebook_Shared,Income,Education_Score,Age,First_Interaction,City_Type,Employer_Category
0,516956,0,0,0,0,1,90,39,18-Jun-03,NaN,Software Industry
1,507733,0,0,0,0,1,None,40,20-Jul-03,H,Software Industry

In [25]:
# merge pp with combined data
combined = pd.merge(left = combined , right = pp, on = 'Patient_ID', how = 'left')

In [26]:
combined.shape

(75278, 30)

In [27]:
combined.head()

,Patient_ID,Health_Camp_ID,Registration_Date,Var1,Var2,Var3,Var4,Var5,outcome,Donation,Health_Score,Unnamed: 4,Health Score,Number_of_stall_visited,Last_Stall_Visited_Number,Camp_Start_Date,Camp_End_Date,Category1,Category2,Category3,Online_Follower,LinkedIn_Shared,Twitter_Shared,Facebook_Shared,Income,Education_Score,Age,First_Interaction,City_Type,Employer_Category
0,526927,6570,14/05/05,0,0,0,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,09-Jul-05,22-Jul-05,First,E,2,0,0,0,0,None,None,None,14-Nov-04,NaN,NaN
1,510379,6534,26/05/06,0,0,0,0,0,1.0,NaN,NaN,NaN,0.402054,NaN,NaN,17-Oct-05,07-Nov-07,Second,A,2,0,0,0,0,None,None,None,26-May-06,H,NaN
2,520968,6557,07/01/04,0,0,0,0,0,1.0,20.0,0.611111,NaN,NaN,NaN,NaN,04-Jan-04,09-Jan-04,First,C,2,0,0,0,0,None,None,None,07-Jan-04,H,NaN
3,507625,6535,12/02/04,0,0,0,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,01-Feb-04,18-Feb-04,First,E,2,0,0,0,0,None,None,None,12-Feb-04,B,NaN
4,502611,6581,14/03/04,0,0,0,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,07-Dec-03,13-Jun-04,First,F,2,0,0,0,0,None,None,None,14-Mar-04,B,NaN

## Feature Engineering

In [28]:
combined.dtypes

Patient_ID                     int64
Health_Camp_ID                 int64
Registration_Date             object
Var1                           int64
Var2                           int64
Var3                           int64
Var4                           int64
Var5                           int64
outcome                      float64
Donation                     float64
Health_Score                 float64
Unnamed: 4                   float64
Health Score                 float64
Number_of_stall_visited      float64
Last_Stall_Visited_Number    float64
Camp_Start_Date               object
Camp_End_Date                 object
Category1                     object
Category2                     object
Category3                      int64
Online_Follower                int64
LinkedIn_Shared                int64
Twitter_Shared                 int64
Facebook_Shared                int64
Income                        object
Education_Score               object
Age                           object
First_Interaction             object
City_Type                     object
Employer_Category             object
dtype: object

In [30]:
# Date: Registration_Date -- object
# first cobert string to datetime using 'to_datetime'

combined['Registration_Date'] = pd.to_datetime(combined.Registration_Date, 
                                               dayfirst = True)#dayfirst: Boolean value, places day first if True

# now split date into day, month and year
combined['Registration_Day'] = combined.Registration_Date.dt.day
combined['Registration_Month'] = combined.Registration_Date.dt.month 
combined['Registration_Year'] = combined.Registration_Date.dt.year

In [31]:
# camp start andend date
#Camp_Start_Date               object
#Camp_End_Date                 object

combined["Camp_Start_Month"] = pd.DatetimeIndex(combined.Camp_Start_Date).month
combined["Camp_Start_Day"] = pd.DatetimeIndex(combined.Camp_Start_Date).day
combined["Camp_Start_Year"] = pd.DatetimeIndex(combined.Camp_Start_Date).year

combined["Camp_End_Month"] = pd.DatetimeIndex(combined.Camp_End_Date).month
combined["Camp_End_Day"] = pd.DatetimeIndex(combined.Camp_End_Date).day
combined["Camp_End_Year"] = pd.DatetimeIndex(combined.Camp_End_Date).year

In [32]:
# creating Online_presence  using Patient Profile Data

combined['Online_Presence'] = combined['Online_Follower'] + combined['LinkedIn_Shared']+combined['Twitter_Shared']+combined['Facebook_Shared']

In [33]:
# drop all four columns added in online presence in above cell.
combined.drop(['Online_Follower','LinkedIn_Shared', 
               'Twitter_Shared','Facebook_Shared'], axis = 1, inplace = True)

In [34]:
# camp duration from camp start and end date

#convert object into date time format
combined['Camp_Start_Date'] = pd.to_datetime(combined.Camp_Start_Date, dayfirst = True) # will take first element as date
combined['Camp_End_Date'] = pd.to_datetime(combined.Camp_End_Date, dayfirst = True)


# difference will be in days
# to extract only number of days we will use attribute'dt.days
combined['Camp_Duration'] = (combined['Camp_End_Date'] - combined['Camp_Start_Date']).dt.days

In [35]:
# Days_ interaction_diff : reg_date - first_interaction

# first converting object into datetime format

combined['First_Interaction'] = pd.to_datetime(combined.First_Interaction, 
                                               dayfirst = True)


# then finding the diff b/w reg_date and first_int_date
combined['Int_days_diff'] = (combined['Registration_Date'] - combined['First_Interaction']).dt.days

In [37]:
combined.head()

,Patient_ID,Health_Camp_ID,Registration_Date,Var1,Var2,Var3,Var4,Var5,outcome,Donation,Health_Score,Unnamed: 4,Health Score,Number_of_stall_visited,Last_Stall_Visited_Number,Camp_Start_Date,Camp_End_Date,Category1,Category2,Category3,Income,Education_Score,Age,First_Interaction,City_Type,Employer_Category,Registration_Day,Registration_Month,Registration_Year,Camp_Start_Month,Camp_Start_Day,Camp_Start_Year,Camp_End_Month,Camp_End_Day,Camp_End_Year,Online_Presence,Camp_Duration,Int_days_diff
0,526927,6570,2005-05-14,0,0,0,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2005-07-09,2005-07-22,First,E,2,None,None,None,2004-11-14,NaN,NaN,14.0,5.0,2005.0,7,9,2005,7,22,2005,0,13,181.0
1,510379,6534,2006-05-26,0,0,0,0,0,1.0,NaN,NaN,NaN,0.402054,NaN,NaN,2005-10-17,2007-11-07,Second,A,2,None,None,None,2006-05-26,H,NaN,26.0,5.0,2006.0,10,17,2005,11,7,2007,0,751,0.0
2,520968,6557,2004-01-07,0,0,0,0,0,1.0,20.0,0.611111,NaN,NaN,NaN,NaN,2004-01-04,2004-01-09,First,C,2,None,None,None,2004-01-07,H,NaN,7.0,1.0,2004.0,1,4,2004,1,9,2004,0,5,0.0
3,507625,6535,2004-02-12,0,0,0,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2004-02-01,2004-02-18,First,E,2,None,None,None,2004-02-12,B,NaN,12.0,2.0,2004.0,2,1,2004,2,18,2004,0,17,0.0
4,502611,6581,2004-03-14,0,0,0,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2003-12-07,2004-06-13,First,F,2,None,None,None,2004-03-14,B,NaN,14.0,3.0,2004.0,12,7,2003,6,13,2004,0,189,0.0

In [39]:
combined.shape

(75278, 38)

In [40]:
combined.Patient_ID.nunique()

29828

In [41]:
combined.Health_Camp_ID.nunique()

44

In [42]:
# Donation v/s health_camp_ID
combined.groupby('Health_Camp_ID').Donation.describe()

                count       mean        std   min   25%   50%   75%    max
Health_Camp_ID
6523              0.0        NaN        NaN   NaN   NaN   NaN   NaN    NaN
6524             54.0  25.555556  10.580628  10.0  20.0  20.0  30.0   60.0
6526            140.0  31.214286  24.034384  10.0  10.0  20.0  40.0  150.0
6527              0.0        NaN        NaN   NaN   NaN   NaN   NaN    NaN
6528              0.0        NaN        NaN   NaN   NaN   NaN   NaN    NaN
6529              0.0        NaN        NaN   NaN   NaN   NaN   NaN    NaN
6530             42.0  19.523810  10.109735  10.0  10.0  20.0  27.5   50.0
6531             79.0  18.354430   8.232266  10.0  10.0  20.0  20.0   40.0
6532            262.0  32.824427  29.446355  10.0  10.0  30.0  40.0  330.0
6534              0.0        NaN        NaN   NaN   NaN   NaN   NaN    NaN
6535            252.0  25.833333  15.579765  10.0  10.0  20.0  30.0   80.0
6536              0.0        NaN        NaN   NaN   NaN   NaN   NaN    NaN
6537            481.0  36.611227  29.825056  10.0  20.0  30.0  50.0  170.0
6538            625.0  37.232000  29.954863  10.0  20.0  30.0  50.0  250.0
6539            254.0  34.921260  23.316725  10.0  20.0  30.0  50.0  120.0
6540            140.0  29.714286  16.790836  10.0  20.0  30.0  40.0  110.0
6541              0.0        NaN        NaN   NaN   NaN   NaN   NaN    NaN
6542            362.0  33.370166  28.161013  10.0  20.0  30.0  40.0  280.0
6543            826.0  36.283293  27.618389  10.0  20.0  30.0  50.0  180.0
6544             13.0  32.307692  13.008873  10.0  20.0  30.0  40.0   50.0
6546             18.0  23.333333   9.701425  10.0  20.0  20.0  27.5   50.0
6549              0.0        NaN        NaN   NaN   NaN   NaN   NaN    NaN
6552             43.0  30.000000  20.701967  10.0  20.0  30.0  30.0  110.0
6553             11.0  12.727273   4.670994  10.0  10.0  10.0  15.0   20.0
6554            346.0  33.352601  23.938991  10.0  20.0  30.0  40.0  160.0
6555              0.0        NaN        NaN   NaN   NaN   NaN   NaN    NaN
6557             36.0  19.166667   6.491753  10.0  17.5  20.0  20.0   30.0
6558             20.0  20.500000   8.870412  10.0  10.0  20.0  30.0   40.0
6560             41.0  31.463415  13.885420  10.0  20.0  30.0  40.0   70.0
6561             55.0  25.818182  21.831926  10.0  10.0  20.0  30.0  100.0
6562             89.0  34.044944  20.982628  10.0  20.0  30.0  40.0   90.0
6563            117.0  29.572650  10.699111  10.0  20.0  30.0  30.0   70.0
6564             49.0  21.428571  12.247449  10.0  10.0  20.0  30.0   50.0
6565             41.0  19.512195   9.206307  10.0  10.0  20.0  20.0   40.0
6569            112.0  20.625000   9.032599  10.0  17.5  20.0  20.0   60.0
6570            276.0  35.072464  23.096521  10.0  20.0  30.0  50.0  130.0
6571            195.0  28.461538  16.581331  10.0  20.0  20.0  40.0   80.0
6575             51.0  24.901961  14.747549  10.0  15.0  20.0  30.0   70.0
6578              0.0        NaN        NaN   NaN   NaN   NaN   NaN    NaN
6580            260.0  33.230769  22.787092  10.0  20.0  30.0  50.0  170.0
6581             89.0  31.011236  27.304884  10.0  10.0  20.0  40.0  170.0
6585            203.0  40.985222  26.921499  10.0  20.0  30.0  50.0  140.0
6586            600.0  30.683333  19.527808  10.0  20.0  30.0  40.0  140.0
6587             36.0  17.777778   7.968191  10.0  10.0  20.0  20.0   40.0

In [43]:
# unique health_camp per patient ID
combined.groupby('Patient_ID')['Health_Camp_ID'].count()

Patient_ID
485679    2
485680    1
485681    2
485682    1
485684    1
         ..
528651    1
528653    1
528655    2
528656    2
528657    5
Name: Health_Camp_ID, Length: 29828, dtype: int64

In [44]:
# unique Patient_ID per health camp
combined.groupby('Health_Camp_ID')['Patient_ID'].nunique()

Health_Camp_ID
6523    2084
6524     149
6526    3809
6527    4144
6528    1744
6529    3823
6530     259
6531     120
6532    1993
6534    3597
6535    1882
6536    2037
6537    3859
6538    3954
6539    1992
6540    1426
6541    1547
6542    2368
6543    6543
6544     128
6546     403
6549    1835
6552      82
6553      94
6554    2303
6555    1738
6557      52
6558      44
6560     123
6561     200
6562    2338
6563     171
6564     514
6565      66
6569     177
6570    3564
6571    2086
6575      90
6578    2837
6580    3517
6581    1485
6585    1398
6586    2624
6587      79
Name: Patient_ID, dtype: int64

In [45]:
combined.groupby('Health_Camp_ID')['Patient_ID'].transform('nunique')

0        3564
1        3597
2          52
3        1882
4        1485
         ...
75273    1992
75274    1993
75275    3954
75276    2338
75277    1426
Name: Patient_ID, Length: 75278, dtype: int64

In [46]:
# unique HealthCamp per patient

combined["HC_per_patient"] = combined.groupby('Patient_ID')['Health_Camp_ID'].transform('nunique')

# unique patient per HealthCamp
combined["Patient_per_HC"] = combined.groupby('Health_Camp_ID')['Patient_ID'].transform('nunique')

In [47]:
combined.shape

(75278, 40)

In [48]:
combined.HC_per_patient.describe()
# a unique patient visiting health camps data

count    75278.000000
mean         5.660618
std          5.077292
min          1.000000
25%          2.000000
50%          4.000000
75%          8.000000
max         32.000000
Name: HC_per_patient, dtype: float64

In [49]:
combined.Patient_per_HC.describe()
# a unique HC having over patients data.

count    75278.000000
mean      3081.875873
std       1457.243273
min         44.000000
25%       1993.000000
50%       2837.000000
75%       3823.000000
max       6543.000000
Name: Patient_per_HC, dtype: float64

In [50]:
# unique patients visiting at the beginning of the year camp started.

combined['Patients_Per_Month'] = combined.groupby('Camp_Start_Month')['Patient_ID'].transform('nunique')
combined['Patients_Per_Year'] = combined.groupby('Camp_Start_Year')['Patient_ID'].transform('nunique')

In [51]:
combined.groupby('Camp_Start_Year')['Patient_ID'].transform('nunique')
# gives an info about patient ID and number of patients visiting in a particular year

0        22359
1        22359
2        10902
3        10902
4         3081
         ...
75273    10902
75274    22359
75275    10902
75276    10902
75277    10902
Name: Patient_ID, Length: 75278, dtype: int64

In [52]:
#del combined['Patients_Per_Month']
combined.groupby('Camp_Start_Year')['Patient_ID'].nunique()
# 2003     3081

Camp_Start_Year
2003     3081
2004    10902
2005    22359
2006     4681
Name: Patient_ID, dtype: int64

In [53]:
combined.groupby('Camp_End_Year')['Patient_ID'].nunique()
#2003     1753

Camp_End_Year
2003     1753
2004     6319
2005    17330
2006     5663
2007    10197
Name: Patient_ID, dtype: int64

In [54]:
# unique patients visiting at the beginning of the year camp ended(yearwise).

combined['Patients_Per_End_Year'] = combined.groupby('Camp_End_Year')['Patient_ID'].transform('nunique')

#
# unique patients visiting at the beginning of the year camp started(monthwise).
combined['Patients_Per_End_Month'] = combined.groupby('Camp_End_Month')['Patient_ID'].transform('nunique')

In [55]:
combined.shape

(75278, 44)

In [56]:
combined.head()

,Patient_ID,Health_Camp_ID,Registration_Date,Var1,Var2,Var3,Var4,Var5,outcome,Donation,Health_Score,Unnamed: 4,Health Score,Number_of_stall_visited,Last_Stall_Visited_Number,Camp_Start_Date,Camp_End_Date,Category1,Category2,Category3,Income,Education_Score,Age,First_Interaction,City_Type,Employer_Category,Registration_Day,Registration_Month,Registration_Year,Camp_Start_Month,Camp_Start_Day,Camp_Start_Year,Camp_End_Month,Camp_End_Day,Camp_End_Year,Online_Presence,Camp_Duration,Int_days_diff,HC_per_patient,Patient_per_HC,Patients_Per_Month,Patients_Per_Year,Patients_Per_End_Year,Patients_Per_End_Month
0,526927,6570,2005-05-14,0,0,0,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2005-07-09,2005-07-22,First,E,2,None,None,None,2004-11-14,NaN,NaN,14.0,5.0,2005.0,7,9,2005,7,22,2005,0,13,181.0,2,3564,3564,22359,17330,7008
1,510379,6534,2006-05-26,0,0,0,0,0,1.0,NaN,NaN,NaN,0.402054,NaN,NaN,2005-10-17,2007-11-07,Second,A,2,None,None,None,2006-05-26,H,NaN,26.0,5.0,2006.0,10,17,2005,11,7,2007,0,751,0.0,1,3597,7346,22359,10197,11374
2,520968,6557,2004-01-07,0,0,0,0,0,1.0,20.0,0.611111,NaN,NaN,NaN,NaN,2004-01-04,2004-01-09,First,C,2,None,None,None,2004-01-07,H,NaN,7.0,1.0,2004.0,1,4,2004,1,9,2004,0,5,0.0,1,52,6902,10902,6319,5293
3,507625,6535,2004-02-12,0,0,0,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2004-02-01,2004-02-18,First,E,2,None,None,None,2004-02-12,B,NaN,12.0,2.0,2004.0,2,1,2004,2,18,2004,0,17,0.0,1,1882,8717,10902,6319,9102
4,502611,6581,2004-03-14,0,0,0,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2003-12-07,2004-06-13,First,F,2,None,None,None,2004-03-14,B,NaN,14.0,3.0,2004.0,12,7,2003,6,13,2004,0,189,0.0,2,1485,6272,3081,6319,5140

# Target Variable

In [64]:
def outcome(a,b,c,d):
    if((a>0) |(b>0) | (c>0) |(d>0)):
        return 1
    else:
        return 0

In [65]:
# generating the target variable
combined['Target'] = combined.apply(lambda x: outcome(x['Health_Score'], x['Health Score'], 
                                 x['Number_of_stall_visited'], x['Last_Stall_Visited_Number']), axis = 1)

In [66]:
combined.outcome.value_counts()

0.0    38354
1.0    14340
Name: outcome, dtype: int64

In [67]:
combined.head()

,Patient_ID,Health_Camp_ID,Registration_Date,Var1,Var2,Var3,Var4,Var5,outcome,Donation,Health_Score,Unnamed: 4,Health Score,Number_of_stall_visited,Last_Stall_Visited_Number,Camp_Start_Date,Camp_End_Date,Category1,Category2,Category3,Income,Education_Score,Age,First_Interaction,City_Type,Employer_Category,Registration_Day,Registration_Month,Registration_Year,Camp_Start_Month,Camp_Start_Day,Camp_Start_Year,Camp_End_Month,Camp_End_Day,Camp_End_Year,Online_Presence,Camp_Duration,Int_days_diff,HC_per_patient,Patient_per_HC,Patients_Per_Month,Patients_Per_Year,Patients_Per_End_Year,Patients_Per_End_Month,Target
0,526927,6570,2005-05-14,0,0,0,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2005-07-09,2005-07-22,First,E,2,None,None,None,2004-11-14,NaN,NaN,14.0,5.0,2005.0,7,9,2005,7,22,2005,0,13,181.0,2,3564,3564,22359,17330,7008,0
1,510379,6534,2006-05-26,0,0,0,0,0,1.0,NaN,NaN,NaN,0.402054,NaN,NaN,2005-10-17,2007-11-07,Second,A,2,None,None,None,2006-05-26,H,NaN,26.0,5.0,2006.0,10,17,2005,11,7,2007,0,751,0.0,1,3597,7346,22359,10197,11374,1
2,520968,6557,2004-01-07,0,0,0,0,0,1.0,20.0,0.611111,NaN,NaN,NaN,NaN,2004-01-04,2004-01-09,First,C,2,None,None,None,2004-01-07,H,NaN,7.0,1.0,2004.0,1,4,2004,1,9,2004,0,5,0.0,1,52,6902,10902,6319,5293,1
3,507625,6535,2004-02-12,0,0,0,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2004-02-01,2004-02-18,First,E,2,None,None,None,2004-02-12,B,NaN,12.0,2.0,2004.0,2,1,2004,2,18,2004,0,17,0.0,1,1882,8717,10902,6319,9102,0
4,502611,6581,2004-03-14,0,0,0,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2003-12-07,2004-06-13,First,F,2,None,None,None,2004-03-14,B,NaN,14.0,3.0,2004.0,12,7,2003,6,13,2004,0,189,0.0,2,1485,6272,3081,6319,5140,0

In [68]:
combined.columns

Index(['Patient_ID', 'Health_Camp_ID', 'Registration_Date', 'Var1', 'Var2',
       'Var3', 'Var4', 'Var5', 'outcome', 'Donation', 'Health_Score',
       'Unnamed: 4', 'Health Score', 'Number_of_stall_visited',
       'Last_Stall_Visited_Number', 'Camp_Start_Date', 'Camp_End_Date',
       'Category1', 'Category2', 'Category3', 'Income', 'Education_Score',
       'Age', 'First_Interaction', 'City_Type', 'Employer_Category',
       'Registration_Day', 'Registration_Month', 'Registration_Year',
       'Camp_Start_Month', 'Camp_Start_Day', 'Camp_Start_Year',
       'Camp_End_Month', 'Camp_End_Day', 'Camp_End_Year', 'Online_Presence',
       'Camp_Duration', 'Int_days_diff', 'HC_per_patient', 'Patient_per_HC',
       'Patients_Per_Month', 'Patients_Per_Year', 'Patients_Per_End_Year',
       'Patients_Per_End_Month', 'Target'],
      dtype='object')

In [69]:
combined.Age.describe()

count     75278
unique       50
top        None
freq      51612
Name: Age, dtype: object

In [70]:
# dropping unnecessary columns
new = combined.drop(['Patient_ID', 'Health_Camp_ID', 'Registration_Date',
                      'Donation', 'Health_Score', 'Unnamed: 4',
                      'Health Score', 'Number_of_stall_visited', 'Last_Stall_Visited_Number', 
                      'Camp_Start_Date', 'Camp_End_Date', 'Income', 
                      'Education_Score', 'First_Interaction','City_Type', 'Employer_Category', 'Age'], axis = 1)

In [92]:
del combined, fhc, shc, thc, hcdtl, pp

In [71]:
new.head()

,Var1,Var2,Var3,Var4,Var5,outcome,Category1,Category2,Category3,Registration_Day,Registration_Month,Registration_Year,Camp_Start_Month,Camp_Start_Day,Camp_Start_Year,Camp_End_Month,Camp_End_Day,Camp_End_Year,Online_Presence,Camp_Duration,Int_days_diff,HC_per_patient,Patient_per_HC,Patients_Per_Month,Patients_Per_Year,Patients_Per_End_Year,Patients_Per_End_Month,Target
0,0,0,0,0,0,0.0,First,E,2,14.0,5.0,2005.0,7,9,2005,7,22,2005,0,13,181.0,2,3564,3564,22359,17330,7008,0
1,0,0,0,0,0,1.0,Second,A,2,26.0,5.0,2006.0,10,17,2005,11,7,2007,0,751,0.0,1,3597,7346,22359,10197,11374,1
2,0,0,0,0,0,1.0,First,C,2,7.0,1.0,2004.0,1,4,2004,1,9,2004,0,5,0.0,1,52,6902,10902,6319,5293,1
3,0,0,0,0,0,0.0,First,E,2,12.0,2.0,2004.0,2,1,2004,2,18,2004,0,17,0.0,1,1882,8717,10902,6319,9102,0
4,0,0,0,0,0,0.0,First,F,2,14.0,3.0,2004.0,12,7,2003,6,13,2004,0,189,0.0,2,1485,6272,3081,6319,5140,0

In [72]:
new.Category1.value_counts()

First     49892
Second    15114
Third     10272
Name: Category1, dtype: int64

In [73]:
# "Category1" mapping
mapped = {'First':1, 'Second':2, 'Third':3}
new["Category1"] = new.Category1.map(mapped)

In [74]:
new["Category1"].value_counts()

1    49892
2    15114
3    10272
Name: Category1, dtype: int64

In [75]:
new.Category2.value_counts()

F    24660
E    20988
A    10993
G    10272
D     4121
B     2426
C     1818
Name: Category2, dtype: int64

In [76]:
# category 2
new['Category2'] = pd.factorize(new.Category2, sort = True)[0]
#This method is useful for obtaining a numeric representation of an array when all that matters is identifying distinct values

In [77]:
new.Category2.value_counts()

5    24660
4    20988
0    10993
6    10272
3     4121
1     2426
2     1818
Name: Category2, dtype: int64

In [78]:
new.shape

(75278, 28)

In [79]:
new.head()

,Var1,Var2,Var3,Var4,Var5,outcome,Category1,Category2,Category3,Registration_Day,Registration_Month,Registration_Year,Camp_Start_Month,Camp_Start_Day,Camp_Start_Year,Camp_End_Month,Camp_End_Day,Camp_End_Year,Online_Presence,Camp_Duration,Int_days_diff,HC_per_patient,Patient_per_HC,Patients_Per_Month,Patients_Per_Year,Patients_Per_End_Year,Patients_Per_End_Month,Target
0,0,0,0,0,0,0.0,1,4,2,14.0,5.0,2005.0,7,9,2005,7,22,2005,0,13,181.0,2,3564,3564,22359,17330,7008,0
1,0,0,0,0,0,1.0,2,0,2,26.0,5.0,2006.0,10,17,2005,11,7,2007,0,751,0.0,1,3597,7346,22359,10197,11374,1
2,0,0,0,0,0,1.0,1,2,2,7.0,1.0,2004.0,1,4,2004,1,9,2004,0,5,0.0,1,52,6902,10902,6319,5293,1
3,0,0,0,0,0,0.0,1,4,2,12.0,2.0,2004.0,2,1,2004,2,18,2004,0,17,0.0,1,1882,8717,10902,6319,9102,0
4,0,0,0,0,0,0.0,1,5,2,14.0,3.0,2004.0,12,7,2003,6,13,2004,0,189,0.0,2,1485,6272,3081,6319,5140,0

In [81]:
new.isnull().sum()

Var1                          0
Var2                          0
Var3                          0
Var4                          0
Var5                          0
outcome                   22584
Category1                     0
Category2                     0
Category3                     0
Registration_Day            334
Registration_Month          334
Registration_Year           334
Camp_Start_Month              0
Camp_Start_Day                0
Camp_Start_Year               0
Camp_End_Month                0
Camp_End_Day                  0
Camp_End_Year                 0
Online_Presence               0
Camp_Duration                 0
Int_days_diff               334
HC_per_patient                0
Patient_per_HC                0
Patients_Per_Month            0
Patients_Per_Year             0
Patients_Per_End_Year         0
Patients_Per_End_Month        0
Target                        0
dtype: int64

In [83]:
new['Registration_Day'].fillna(new.Registration_Day.mode()[0], inplace = True)

In [84]:
new['Registration_Month'].fillna(new.Registration_Month.mode()[0], inplace = True)
new['Registration_Year'].fillna(new.Registration_Year.mode()[0], inplace = True)
new['Int_days_diff'].fillna(new.Int_days_diff.median(), inplace = True)

In [85]:
new.isnull().sum()

Var1                          0
Var2                          0
Var3                          0
Var4                          0
Var5                          0
outcome                   22584
Category1                     0
Category2                     0
Category3                     0
Registration_Day              0
Registration_Month            0
Registration_Year             0
Camp_Start_Month              0
Camp_Start_Day                0
Camp_Start_Year               0
Camp_End_Month                0
Camp_End_Day                  0
Camp_End_Year                 0
Online_Presence               0
Camp_Duration                 0
Int_days_diff                 0
HC_per_patient                0
Patient_per_HC                0
Patients_Per_Month            0
Patients_Per_Year             0
Patients_Per_End_Year         0
Patients_Per_End_Month        0
Target                        0
dtype: int64

# train test data split

In [86]:
train.shape, test.shape

((52694, 9), (22584, 8))

In [87]:
new.shape

(75278, 28)

In [88]:
newtrain = new.loc[:train.shape[0]-1, :]
newtest = new.loc[train.shape[0]:, :]

In [89]:
newtrain.shape,newtest.shape

((52694, 28), (22584, 28))

In [90]:
# drop Target from test data
newtest.drop('outcome', axis = 1, inplace = True)

In [91]:
newtrain.shape, newtest.shape

((52694, 28), (22584, 27))

# Building a Base Model

* Logistics Regression
* Random Forest Model
* Gradient Boosting Model
* Xtreme Gradient Boosting Model
* CatBoost Model

In [92]:
X = newtrain.drop('outcome', axis =1)
y = newtrain.outcome

In [93]:
from sklearn.model_selection import train_test_split

In [94]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from catboost import CatBoostClassifier
from xgboost import XGBClassifier

In [95]:
# model Instances
lr = LogisticRegression()
rf = RandomForestClassifier()
gb = GradientBoostingClassifier()
xgb = XGBClassifier(eval_metric = 'auc')
cboost = CatBoostClassifier(eval_metric= 'AUC')

In [96]:
# Building a voting Classifier Model.
from sklearn.ensemble import VotingClassifier
vc = VotingClassifier(estimators=[('lr', lr), ('rf', rf), 
                                  ('gbm', gb), ('xgb', xgb), ('cb', cboost)], voting = 'soft') # soft indicates probability

In [98]:
pred = vc.fit(X, y).predict(newtest)

Learning rate set to 0.055992
0:	total: 24.4ms	remaining: 24.4s
1:	total: 38.5ms	remaining: 19.2s
2:	total: 50.8ms	remaining: 16.9s
3:	total: 60.3ms	remaining: 15s
4:	total: 69.2ms	remaining: 13.8s
5:	total: 77.7ms	remaining: 12.9s
6:	total: 87ms	remaining: 12.3s
7:	total: 95.9ms	remaining: 11.9s
8:	total: 105ms	remaining: 11.5s
9:	total: 114ms	remaining: 11.3s
10:	total: 123ms	remaining: 11.1s
11:	total: 131ms	remaining: 10.8s
12:	total: 140ms	remaining: 10.6s
13:	total: 148ms	remaining: 10.4s
14:	total: 157ms	remaining: 10.3s
15:	total: 167ms	remaining: 10.3s
16:	total: 177ms	remaining: 10.2s
17:	total: 187ms	remaining: 10.2s
18:	total: 193ms	remaining: 9.97s
19:	total: 202ms	remaining: 9.89s
20:	total: 210ms	remaining: 9.77s
21:	total: 218ms	remaining: 9.69s
22:	total: 226ms	remaining: 9.62s
23:	total: 235ms	remaining: 9.56s
24:	total: 243ms	remaining: 9.5s
25:	total: 251ms	remaining: 9.4s
26:	total: 259ms	remaining: 9.34s
27:	total: 267ms	remaining: 9.26s
28:	total: 275ms	remaining: 9.19s
29:	total: 281ms	remaining: 9.07s
30:	total: 288ms	remaining: 9.01s
31:	total: 296ms	remaining: 8.94s
32:	total: 303ms	remaining: 8.87s
33:	total: 311ms	remaining: 8.83s
34:	total: 319ms	remaining: 8.79s
35:	total: 327ms	remaining: 8.75s
36:	total: 335ms	remaining: 8.72s
37:	total: 343ms	remaining: 8.68s
38:	total: 353ms	remaining: 8.71s
39:	total: 364ms	remaining: 8.74s
40:	total: 372ms	remaining: 8.71s
41:	total: 382ms	remaining: 8.71s
42:	total: 390ms	remaining: 8.68s
43:	total: 399ms	remaining: 8.66s
44:	total: 406ms	remaining: 8.61s
45:	total: 414ms	remaining: 8.59s
46:	total: 422ms	remaining: 8.55s
47:	total: 429ms	remaining: 8.5s
48:	total: 437ms	remaining: 8.48s
49:	total: 445ms	remaining: 8.45s
50:	total: 452ms	remaining: 8.4s
51:	total: 459ms	remaining: 8.37s
52:	total: 467ms	remaining: 8.34s
53:	total: 473ms	remaining: 8.28s
54:	total: 479ms	remaining: 8.23s
55:	total: 487ms	remaining: 8.21s
56:	total: 494ms	remaining: 8.17s
57:	total: 500ms	remaining: 8.12s
58:	total: 506ms	remaining: 8.07s
59:	total: 514ms	remaining: 8.04s
60:	total: 520ms	remaining: 8.01s
61:	total: 527ms	remaining: 7.97s
62:	total: 534ms	remaining: 7.95s
63:	total: 542ms	remaining: 7.92s
64:	total: 550ms	remaining: 7.91s
65:	total: 557ms	remaining: 7.88s
66:	total: 564ms	remaining: 7.86s
67:	total: 571ms	remaining: 7.83s
68:	total: 577ms	remaining: 7.79s
69:	total: 584ms	remaining: 7.76s
70:	total: 590ms	remaining: 7.72s
71:	total: 597ms	remaining: 7.69s
72:	total: 603ms	remaining: 7.66s
73:	total: 610ms	remaining: 7.63s
74:	total: 617ms	remaining: 7.6s
75:	total: 623ms	remaining: 7.58s
76:	total: 630ms	remaining: 7.55s
77:	total: 636ms	remaining: 7.52s
78:	total: 643ms	remaining: 7.49s
79:	total: 649ms	remaining: 7.46s
80:	total: 655ms	remaining: 7.44s
81:	total: 662ms	remaining: 7.41s
82:	total: 668ms	remaining: 7.38s
83:	total: 675ms	remaining: 7.36s
84:	total: 681ms	remaining: 7.33s
85:	total: 688ms	remaining: 7.31s
86:	total: 694ms	remaining: 7.28s
87:	total: 700ms	remaining: 7.26s
88:	total: 707ms	remaining: 7.23s
89:	total: 715ms	remaining: 7.22s
90:	total: 722ms	remaining: 7.21s
91:	total: 731ms	remaining: 7.22s
92:	total: 738ms	remaining: 7.2s
93:	total: 745ms	remaining: 7.18s
94:	total: 752ms	remaining: 7.16s
95:	total: 758ms	remaining: 7.14s
96:	total: 765ms	remaining: 7.12s
97:	total: 772ms	remaining: 7.1s
98:	total: 779ms	remaining: 7.09s
99:	total: 785ms	remaining: 7.06s
100:	total: 791ms	remaining: 7.04s
101:	total: 799ms	remaining: 7.03s
102:	total: 805ms	remaining: 7.01s
103:	total: 812ms	remaining: 6.99s
104:	total: 819ms	remaining: 6.98s
105:	total: 826ms	remaining: 6.96s
106:	total: 833ms	remaining: 6.95s
107:	total: 840ms	remaining: 6.93s
108:	total: 846ms	remaining: 6.92s
109:	total: 853ms	remaining: 6.9s
110:	total: 859ms	remaining: 6.88s
111:	total: 867ms	remaining: 6.87s
112:	total: 873ms	remaining: 6.85s
113:	total: 880ms	remaining: 6.84s
114:	total: 886ms	remaining: 6.82s
115:	total: 894ms	remaining: 6.81s
116:	total: 901ms	remaining: 6.8s
117:	total: 910ms	remaining: 6.8s
118:	total: 919ms	remaining: 6.8s
119:	total: 928ms	remaining: 6.8s
120:	total: 936ms	remaining: 6.8s
121:	total: 944ms	remaining: 6.79s
122:	total: 951ms	remaining: 6.78s
123:	total: 958ms	remaining: 6.76s
124:	total: 964ms	remaining: 6.75s
125:	total: 971ms	remaining: 6.73s
126:	total: 977ms	remaining: 6.72s
127:	total: 983ms	remaining: 6.7s
128:	total: 990ms	remaining: 6.68s
129:	total: 996ms	remaining: 6.67s
130:	total: 1s	remaining: 6.65s
131:	total: 1.01s	remaining: 6.63s
132:	total: 1.01s	remaining: 6.62s
133:	total: 1.02s	remaining: 6.61s
134:	total: 1.03s	remaining: 6.59s
135:	total: 1.03s	remaining: 6.58s
136:	total: 1.04s	remaining: 6.56s
137:	total: 1.05s	remaining: 6.55s
138:	total: 1.05s	remaining: 6.54s
139:	total: 1.06s	remaining: 6.52s
140:	total: 1.07s	remaining: 6.51s
141:	total: 1.07s	remaining: 6.5s
142:	total: 1.08s	remaining: 6.49s
143:	total: 1.09s	remaining: 6.48s
144:	total: 1.1s	remaining: 6.47s
145:	total: 1.1s	remaining: 6.46s
146:	total: 1.11s	remaining: 6.45s
147:	total: 1.12s	remaining: 6.44s
148:	total: 1.13s	remaining: 6.43s
149:	total: 1.13s	remaining: 6.42s
150:	total: 1.14s	remaining: 6.41s
151:	total: 1.15s	remaining: 6.4s
152:	total: 1.15s	remaining: 6.38s
153:	total: 1.16s	remaining: 6.37s
154:	total: 1.17s	remaining: 6.36s
155:	total: 1.17s	remaining: 6.34s
156:	total: 1.18s	remaining: 6.33s
157:	total: 1.19s	remaining: 6.32s
158:	total: 1.19s	remaining: 6.31s
159:	total: 1.2s	remaining: 6.29s
160:	total: 1.21s	remaining: 6.28s
161:	total: 1.21s	remaining: 6.27s
162:	total: 1.22s	remaining: 6.26s
163:	total: 1.23s	remaining: 6.25s
164:	total: 1.23s	remaining: 6.24s
165:	total: 1.24s	remaining: 6.22s
166:	total: 1.25s	remaining: 6.21s
167:	total: 1.25s	remaining: 6.2s
168:	total: 1.26s	remaining: 6.19s
169:	total: 1.27s	remaining: 6.18s
170:	total: 1.27s	remaining: 6.18s
171:	total: 1.28s	remaining: 6.17s
172:	total: 1.29s	remaining: 6.16s
173:	total: 1.29s	remaining: 6.15s
174:	total: 1.3s	remaining: 6.14s
175:	total: 1.31s	remaining: 6.13s
176:	total: 1.31s	remaining: 6.12s
177:	total: 1.32s	remaining: 6.1s
178:	total: 1.33s	remaining: 6.09s
179:	total: 1.33s	remaining: 6.08s
180:	total: 1.34s	remaining: 6.07s
181:	total: 1.35s	remaining: 6.06s
182:	total: 1.35s	remaining: 6.05s
183:	total: 1.36s	remaining: 6.04s
184:	total: 1.37s	remaining: 6.03s
185:	total: 1.37s	remaining: 6.02s
186:	total: 1.38s	remaining: 6.01s
187:	total: 1.39s	remaining: 6s
188:	total: 1.4s	remaining: 5.99s
189:	total: 1.4s	remaining: 5.98s
190:	total: 1.41s	remaining: 5.96s
191:	total: 1.42s	remaining: 5.96s
192:	total: 1.42s	remaining: 5.95s
193:	total: 1.43s	remaining: 5.93s
194:	total: 1.43s	remaining: 5.92s
195:	total: 1.44s	remaining: 5.92s
196:	total: 1.45s	remaining: 5.91s
197:	total: 1.46s	remaining: 5.9s
198:	total: 1.47s	remaining: 5.9s
199:	total: 1.47s	remaining: 5.89s
200:	total: 1.48s	remaining: 5.89s
201:	total: 1.49s	remaining: 5.89s
202:	total: 1.5s	remaining: 5.88s
203:	total: 1.5s	remaining: 5.87s
204:	total: 1.51s	remaining: 5.86s
205:	total: 1.52s	remaining: 5.85s
206:	total: 1.52s	remaining: 5.84s
207:	total: 1.53s	remaining: 5.83s
208:	total: 1.54s	remaining: 5.82s
209:	total: 1.54s	remaining: 5.81s
210:	total: 1.55s	remaining: 5.8s
211:	total: 1.56s	remaining: 5.79s
212:	total: 1.56s	remaining: 5.78s
213:	total: 1.57s	remaining: 5.77s
214:	total: 1.58s	remaining: 5.76s
215:	total: 1.58s	remaining: 5.75s
216:	total: 1.59s	remaining: 5.74s
217:	total: 1.6s	remaining: 5.72s
218:	total: 1.6s	remaining: 5.71s
219:	total: 1.61s	remaining: 5.7s
220:	total: 1.61s	remaining: 5.7s
221:	total: 1.62s	remaining: 5.69s
222:	total: 1.63s	remaining: 5.68s
223:	total: 1.64s	remaining: 5.67s
224:	total: 1.65s	remaining: 5.67s
225:	total: 1.65s	remaining: 5.66s
226:	total: 1.66s	remaining: 5.65s
227:	total: 1.67s	remaining: 5.64s
228:	total: 1.67s	remaining: 5.63s
229:	total: 1.68s	remaining: 5.62s
230:	total: 1.69s	remaining: 5.61s
231:	total: 1.69s	remaining: 5.6s
232:	total: 1.7s	remaining: 5.59s
233:	total: 1.71s	remaining: 5.58s
234:	total: 1.71s	remaining: 5.57s
235:	total: 1.72s	remaining: 5.56s
236:	total: 1.72s	remaining: 5.55s
237:	total: 1.73s	remaining: 5.54s
238:	total: 1.74s	remaining: 5.53s
239:	total: 1.74s	remaining: 5.52s
240:	total: 1.75s	remaining: 5.51s
241:	total: 1.76s	remaining: 5.5s
242:	total: 1.76s	remaining: 5.5s
243:	total: 1.77s	remaining: 5.49s
244:	total: 1.78s	remaining: 5.48s
245:	total: 1.78s	remaining: 5.47s
246:	total: 1.79s	remaining: 5.46s
247:	total: 1.8s	remaining: 5.45s

248:	total: 1.8s	remaining: 5.44s
249:	total: 1.81s	remaining: 5.43s
250:	total: 1.82s	remaining: 5.45s
251:	total: 1.84s	remaining: 5.45s
252:	total: 1.85s	remaining: 5.45s
253:	total: 1.85s	remaining: 5.44s
254:	total: 1.86s	remaining: 5.43s
255:	total: 1.87s	remaining: 5.43s
256:	total: 1.87s	remaining: 5.42s
257:	total: 1.88s	remaining: 5.41s
258:	total: 1.89s	remaining: 5.4s
259:	total: 1.89s	remaining: 5.39s
260:	total: 1.9s	remaining: 5.38s
261:	total: 1.91s	remaining: 5.37s
262:	total: 1.91s	remaining: 5.36s
263:	total: 1.92s	remaining: 5.35s
264:	total: 1.93s	remaining: 5.34s
265:	total: 1.93s	remaining: 5.33s
266:	total: 1.94s	remaining: 5.32s
267:	total: 1.95s	remaining: 5.31s
268:	total: 1.95s	remaining: 5.3s
269:	total: 1.96s	remaining: 5.3s
270:	total: 1.97s	remaining: 5.29s
271:	total: 1.97s	remaining: 5.28s
272:	total: 1.98s	remaining: 5.27s
273:	total: 1.99s	remaining: 5.26s
274:	total: 1.99s	remaining: 5.26s
275:	total: 2s	remaining: 5.25s
276:	total: 2.01s	remaining: 5.24s
277:	total: 2.01s	remaining: 5.23s
278:	total: 2.02s	remaining: 5.22s
279:	total: 2.03s	remaining: 5.21s
280:	total: 2.03s	remaining: 5.21s
281:	total: 2.04s	remaining: 5.2s
282:	total: 2.05s	remaining: 5.19s
283:	total: 2.05s	remaining: 5.18s
284:	total: 2.06s	remaining: 5.17s
285:	total: 2.07s	remaining: 5.16s
286:	total: 2.07s	remaining: 5.15s
287:	total: 2.08s	remaining: 5.14s
288:	total: 2.09s	remaining: 5.13s
289:	total: 2.09s	remaining: 5.13s
290:	total: 2.1s	remaining: 5.12s
291:	total: 2.11s	remaining: 5.11s
292:	total: 2.11s	remaining: 5.1s
293:	total: 2.12s	remaining: 5.09s
294:	total: 2.13s	remaining: 5.08s
295:	total: 2.13s	remaining: 5.07s
296:	total: 2.14s	remaining: 5.06s
297:	total: 2.15s	remaining: 5.05s
298:	total: 2.15s	remaining: 5.04s
299:	total: 2.16s	remaining: 5.04s
300:	total: 2.17s	remaining: 5.03s
301:	total: 2.17s	remaining: 5.03s
302:	total: 2.18s	remaining: 5.02s
303:	total: 2.19s	remaining: 5.01s
304:	total: 2.19s	remaining: 5s
305:	total: 2.2s	remaining: 4.99s
306:	total: 2.21s	remaining: 4.99s
307:	total: 2.21s	remaining: 4.98s
308:	total: 2.22s	remaining: 4.97s
309:	total: 2.23s	remaining: 4.96s
310:	total: 2.23s	remaining: 4.95s
311:	total: 2.24s	remaining: 4.94s
312:	total: 2.25s	remaining: 4.93s
313:	total: 2.25s	remaining: 4.92s
314:	total: 2.26s	remaining: 4.92s
315:	total: 2.27s	remaining: 4.91s
316:	total: 2.27s	remaining: 4.9s
317:	total: 2.28s	remaining: 4.89s
318:	total: 2.29s	remaining: 4.88s
319:	total: 2.29s	remaining: 4.87s
320:	total: 2.3s	remaining: 4.86s
321:	total: 2.3s	remaining: 4.85s
322:	total: 2.31s	remaining: 4.84s
323:	total: 2.32s	remaining: 4.83s
324:	total: 2.32s	remaining: 4.83s
325:	total: 2.33s	remaining: 4.82s
326:	total: 2.34s	remaining: 4.81s
327:	total: 2.35s	remaining: 4.81s
328:	total: 2.35s	remaining: 4.8s
329:	total: 2.36s	remaining: 4.8s
330:	total: 2.37s	remaining: 4.79s
331:	total: 2.38s	remaining: 4.78s
332:	total: 2.38s	remaining: 4.77s
333:	total: 2.39s	remaining: 4.76s
334:	total: 2.4s	remaining: 4.75s
335:	total: 2.4s	remaining: 4.75s
336:	total: 2.41s	remaining: 4.74s
337:	total: 2.42s	remaining: 4.73s
338:	total: 2.42s	remaining: 4.72s
339:	total: 2.43s	remaining: 4.71s
340:	total: 2.43s	remaining: 4.7s
341:	total: 2.44s	remaining: 4.7s
342:	total: 2.45s	remaining: 4.69s
343:	total: 2.45s	remaining: 4.68s
344:	total: 2.46s	remaining: 4.67s
345:	total: 2.47s	remaining: 4.66s
346:	total: 2.47s	remaining: 4.65s
347:	total: 2.48s	remaining: 4.65s
348:	total: 2.49s	remaining: 4.64s
349:	total: 2.49s	remaining: 4.63s
350:	total: 2.5s	remaining: 4.62s
351:	total: 2.51s	remaining: 4.61s
352:	total: 2.51s	remaining: 4.6s
353:	total: 2.52s	remaining: 4.6s
354:	total: 2.53s	remaining: 4.59s
355:	total: 2.53s	remaining: 4.58s
356:	total: 2.54s	remaining: 4.58s
357:	total: 2.55s	remaining: 4.57s
358:	total: 2.55s	remaining: 4.56s
359:	total: 2.56s	remaining: 4.55s
360:	total: 2.57s	remaining: 4.54s
361:	total: 2.57s	remaining: 4.54s
362:	total: 2.58s	remaining: 4.53s
363:	total: 2.59s	remaining: 4.52s
364:	total: 2.59s	remaining: 4.51s
365:	total: 2.6s	remaining: 4.5s
366:	total: 2.61s	remaining: 4.5s
367:	total: 2.61s	remaining: 4.49s
368:	total: 2.62s	remaining: 4.48s
369:	total: 2.63s	remaining: 4.47s
370:	total: 2.63s	remaining: 4.46s
371:	total: 2.64s	remaining: 4.45s
372:	total: 2.64s	remaining: 4.45s
373:	total: 2.65s	remaining: 4.44s
374:	total: 2.66s	remaining: 4.43s
375:	total: 2.66s	remaining: 4.42s
376:	total: 2.67s	remaining: 4.41s
377:	total: 2.68s	remaining: 4.41s
378:	total: 2.68s	remaining: 4.4s
379:	total: 2.69s	remaining: 4.39s
380:	total: 2.7s	remaining: 4.38s
381:	total: 2.7s	remaining: 4.37s
382:	total: 2.71s	remaining: 4.37s
383:	total: 2.72s	remaining: 4.36s
384:	total: 2.73s	remaining: 4.35s
385:	total: 2.73s	remaining: 4.35s
386:	total: 2.74s	remaining: 4.34s
387:	total: 2.75s	remaining: 4.33s
388:	total: 2.75s	remaining: 4.32s
389:	total: 2.76s	remaining: 4.32s
390:	total: 2.77s	remaining: 4.31s
391:	total: 2.77s	remaining: 4.3s
392:	total: 2.78s	remaining: 4.29s
393:	total: 2.79s	remaining: 4.28s
394:	total: 2.79s	remaining: 4.28s
395:	total: 2.8s	remaining: 4.27s
396:	total: 2.81s	remaining: 4.26s
397:	total: 2.81s	remaining: 4.25s
398:	total: 2.82s	remaining: 4.25s
399:	total: 2.83s	remaining: 4.24s
400:	total: 2.83s	remaining: 4.23s
401:	total: 2.84s	remaining: 4.22s
402:	total: 2.84s	remaining: 4.21s
403:	total: 2.85s	remaining: 4.21s
404:	total: 2.86s	remaining: 4.2s
405:	total: 2.86s	remaining: 4.19s
406:	total: 2.87s	remaining: 4.18s
407:	total: 2.88s	remaining: 4.18s
408:	total: 2.88s	remaining: 4.17s
409:	total: 2.89s	remaining: 4.16s
410:	total: 2.9s	remaining: 4.16s
411:	total: 2.91s	remaining: 4.15s
412:	total: 2.92s	remaining: 4.14s
413:	total: 2.92s	remaining: 4.14s
414:	total: 2.93s	remaining: 4.13s
415:	total: 2.94s	remaining: 4.12s
416:	total: 2.94s	remaining: 4.11s
417:	total: 2.95s	remaining: 4.11s
418:	total: 2.95s	remaining: 4.1s
419:	total: 2.96s	remaining: 4.09s
420:	total: 2.97s	remaining: 4.08s
421:	total: 2.98s	remaining: 4.08s
422:	total: 2.98s	remaining: 4.07s
423:	total: 2.99s	remaining: 4.06s
424:	total: 3s	remaining: 4.05s
425:	total: 3s	remaining: 4.04s
426:	total: 3.01s	remaining: 4.04s
427:	total: 3.01s	remaining: 4.03s
428:	total: 3.02s	remaining: 4.02s
429:	total: 3.03s	remaining: 4.01s
430:	total: 3.03s	remaining: 4s
431:	total: 3.04s	remaining: 4s
432:	total: 3.05s	remaining: 3.99s
433:	total: 3.05s	remaining: 3.98s
434:	total: 3.06s	remaining: 3.98s
435:	total: 3.07s	remaining: 3.97s
436:	total: 3.07s	remaining: 3.96s
437:	total: 3.08s	remaining: 3.95s
438:	total: 3.09s	remaining: 3.95s
439:	total: 3.1s	remaining: 3.94s
440:	total: 3.1s	remaining: 3.93s
441:	total: 3.11s	remaining: 3.93s
442:	total: 3.12s	remaining: 3.92s
443:	total: 3.12s	remaining: 3.91s
444:	total: 3.13s	remaining: 3.9s
445:	total: 3.14s	remaining: 3.9s
446:	total: 3.14s	remaining: 3.89s
447:	total: 3.15s	remaining: 3.88s
448:	total: 3.15s	remaining: 3.87s
449:	total: 3.16s	remaining: 3.86s
450:	total: 3.17s	remaining: 3.86s
451:	total: 3.17s	remaining: 3.85s
452:	total: 3.18s	remaining: 3.84s
453:	total: 3.19s	remaining: 3.83s
454:	total: 3.19s	remaining: 3.83s
455:	total: 3.2s	remaining: 3.82s
456:	total: 3.21s	remaining: 3.81s
457:	total: 3.21s	remaining: 3.8s
458:	total: 3.22s	remaining: 3.8s
459:	total: 3.23s	remaining: 3.79s
460:	total: 3.23s	remaining: 3.78s
461:	total: 3.24s	remaining: 3.77s
462:	total: 3.25s	remaining: 3.77s
463:	total: 3.25s	remaining: 3.76s
464:	total: 3.26s	remaining: 3.75s
465:	total: 3.27s	remaining: 3.75s
466:	total: 3.27s	remaining: 3.74s
467:	total: 3.28s	remaining: 3.73s
468:	total: 3.29s	remaining: 3.72s
469:	total: 3.29s	remaining: 3.72s
470:	total: 3.3s	remaining: 3.71s
471:	total: 3.31s	remaining: 3.7s
472:	total: 3.32s	remaining: 3.69s
473:	total: 3.32s	remaining: 3.69s
474:	total: 3.33s	remaining: 3.68s
475:	total: 3.33s	remaining: 3.67s
476:	total: 3.34s	remaining: 3.66s
477:	total: 3.35s	remaining: 3.66s
478:	total: 3.35s	remaining: 3.65s
479:	total: 3.36s	remaining: 3.64s
480:	total: 3.37s	remaining: 3.63s
481:	total: 3.38s	remaining: 3.63s
482:	total: 3.38s	remaining: 3.62s
483:	total: 3.39s	remaining: 3.61s
484:	total: 3.39s	remaining: 3.6s
485:	total: 3.4s	remaining: 3.6s
486:	total: 3.41s	remaining: 3.59s
487:	total: 3.41s	remaining: 3.58s
488:	total: 3.42s	remaining: 3.58s
489:	total: 3.43s	remaining: 3.57s

490:	total: 3.44s	remaining: 3.56s
491:	total: 3.44s	remaining: 3.55s
492:	total: 3.45s	remaining: 3.55s
493:	total: 3.46s	remaining: 3.54s
494:	total: 3.46s	remaining: 3.53s
495:	total: 3.47s	remaining: 3.52s
496:	total: 3.48s	remaining: 3.52s
497:	total: 3.48s	remaining: 3.51s
498:	total: 3.49s	remaining: 3.5s
499:	total: 3.5s	remaining: 3.5s
500:	total: 3.5s	remaining: 3.49s
501:	total: 3.51s	remaining: 3.48s
502:	total: 3.52s	remaining: 3.47s
503:	total: 3.52s	remaining: 3.46s
504:	total: 3.53s	remaining: 3.46s
505:	total: 3.53s	remaining: 3.45s
506:	total: 3.54s	remaining: 3.44s
507:	total: 3.55s	remaining: 3.44s
508:	total: 3.55s	remaining: 3.43s
509:	total: 3.56s	remaining: 3.42s
510:	total: 3.57s	remaining: 3.41s
511:	total: 3.57s	remaining: 3.4s
512:	total: 3.58s	remaining: 3.4s
513:	total: 3.59s	remaining: 3.39s
514:	total: 3.59s	remaining: 3.38s
515:	total: 3.6s	remaining: 3.38s
516:	total: 3.6s	remaining: 3.37s
517:	total: 3.61s	remaining: 3.36s
518:	total: 3.62s	remaining: 3.36s
519:	total: 3.63s	remaining: 3.35s
520:	total: 3.63s	remaining: 3.34s
521:	total: 3.64s	remaining: 3.33s
522:	total: 3.65s	remaining: 3.33s
523:	total: 3.65s	remaining: 3.32s
524:	total: 3.66s	remaining: 3.31s
525:	total: 3.67s	remaining: 3.31s
526:	total: 3.67s	remaining: 3.3s
527:	total: 3.68s	remaining: 3.29s
528:	total: 3.69s	remaining: 3.28s
529:	total: 3.69s	remaining: 3.28s
530:	total: 3.7s	remaining: 3.27s
531:	total: 3.71s	remaining: 3.26s
532:	total: 3.71s	remaining: 3.25s
533:	total: 3.72s	remaining: 3.25s
534:	total: 3.73s	remaining: 3.24s
535:	total: 3.73s	remaining: 3.23s
536:	total: 3.74s	remaining: 3.22s
537:	total: 3.75s	remaining: 3.22s
538:	total: 3.75s	remaining: 3.21s
539:	total: 3.76s	remaining: 3.2s
540:	total: 3.77s	remaining: 3.19s
541:	total: 3.77s	remaining: 3.19s
542:	total: 3.78s	remaining: 3.18s
543:	total: 3.79s	remaining: 3.17s
544:	total: 3.79s	remaining: 3.17s
545:	total: 3.8s	remaining: 3.16s
546:	total: 3.81s	remaining: 3.15s
547:	total: 3.81s	remaining: 3.15s
548:	total: 3.82s	remaining: 3.14s
549:	total: 3.83s	remaining: 3.13s
550:	total: 3.83s	remaining: 3.12s
551:	total: 3.84s	remaining: 3.12s
552:	total: 3.85s	remaining: 3.11s
553:	total: 3.85s	remaining: 3.1s
554:	total: 3.86s	remaining: 3.1s
555:	total: 3.87s	remaining: 3.09s
556:	total: 3.87s	remaining: 3.08s
557:	total: 3.88s	remaining: 3.07s
558:	total: 3.89s	remaining: 3.07s
559:	total: 3.89s	remaining: 3.06s
560:	total: 3.9s	remaining: 3.05s
561:	total: 3.91s	remaining: 3.04s
562:	total: 3.91s	remaining: 3.04s
563:	total: 3.92s	remaining: 3.03s
564:	total: 3.92s	remaining: 3.02s
565:	total: 3.93s	remaining: 3.02s
566:	total: 3.94s	remaining: 3.01s
567:	total: 3.94s	remaining: 3s
568:	total: 3.95s	remaining: 2.99s
569:	total: 3.96s	remaining: 2.99s
570:	total: 3.96s	remaining: 2.98s
571:	total: 3.97s	remaining: 2.97s
572:	total: 3.98s	remaining: 2.96s
573:	total: 3.98s	remaining: 2.96s
574:	total: 3.99s	remaining: 2.95s
575:	total: 4s	remaining: 2.94s
576:	total: 4.01s	remaining: 2.94s
577:	total: 4.01s	remaining: 2.93s
578:	total: 4.02s	remaining: 2.92s
579:	total: 4.03s	remaining: 2.92s
580:	total: 4.03s	remaining: 2.91s
581:	total: 4.04s	remaining: 2.9s
582:	total: 4.05s	remaining: 2.9s
583:	total: 4.05s	remaining: 2.89s
584:	total: 4.06s	remaining: 2.88s
585:	total: 4.07s	remaining: 2.87s
586:	total: 4.07s	remaining: 2.87s
587:	total: 4.08s	remaining: 2.86s
588:	total: 4.09s	remaining: 2.85s
589:	total: 4.09s	remaining: 2.84s
590:	total: 4.1s	remaining: 2.84s
591:	total: 4.11s	remaining: 2.83s
592:	total: 4.11s	remaining: 2.82s
593:	total: 4.12s	remaining: 2.81s
594:	total: 4.13s	remaining: 2.81s
595:	total: 4.13s	remaining: 2.8s
596:	total: 4.14s	remaining: 2.79s
597:	total: 4.14s	remaining: 2.79s
598:	total: 4.15s	remaining: 2.78s
599:	total: 4.16s	remaining: 2.77s
600:	total: 4.17s	remaining: 2.77s
601:	total: 4.17s	remaining: 2.76s
602:	total: 4.18s	remaining: 2.75s
603:	total: 4.19s	remaining: 2.74s
604:	total: 4.19s	remaining: 2.74s
605:	total: 4.2s	remaining: 2.73s
606:	total: 4.21s	remaining: 2.72s
607:	total: 4.21s	remaining: 2.72s
608:	total: 4.22s	remaining: 2.71s
609:	total: 4.23s	remaining: 2.7s
610:	total: 4.23s	remaining: 2.69s
611:	total: 4.24s	remaining: 2.69s
612:	total: 4.25s	remaining: 2.68s
613:	total: 4.25s	remaining: 2.67s
614:	total: 4.26s	remaining: 2.67s
615:	total: 4.27s	remaining: 2.66s
616:	total: 4.27s	remaining: 2.65s
617:	total: 4.28s	remaining: 2.65s
618:	total: 4.29s	remaining: 2.64s
619:	total: 4.29s	remaining: 2.63s
620:	total: 4.3s	remaining: 2.62s
621:	total: 4.31s	remaining: 2.62s
622:	total: 4.31s	remaining: 2.61s
623:	total: 4.32s	remaining: 2.6s
624:	total: 4.33s	remaining: 2.6s
625:	total: 4.34s	remaining: 2.59s
626:	total: 4.34s	remaining: 2.58s
627:	total: 4.35s	remaining: 2.58s
628:	total: 4.37s	remaining: 2.58s
629:	total: 4.38s	remaining: 2.57s
630:	total: 4.39s	remaining: 2.57s
631:	total: 4.4s	remaining: 2.56s
632:	total: 4.41s	remaining: 2.56s
633:	total: 4.42s	remaining: 2.55s
634:	total: 4.43s	remaining: 2.54s
635:	total: 4.44s	remaining: 2.54s
636:	total: 4.45s	remaining: 2.53s
637:	total: 4.45s	remaining: 2.53s
638:	total: 4.46s	remaining: 2.52s
639:	total: 4.47s	remaining: 2.51s
640:	total: 4.48s	remaining: 2.51s
641:	total: 4.49s	remaining: 2.5s
642:	total: 4.49s	remaining: 2.49s
643:	total: 4.5s	remaining: 2.49s
644:	total: 4.51s	remaining: 2.48s
645:	total: 4.52s	remaining: 2.48s
646:	total: 4.53s	remaining: 2.47s
647:	total: 4.53s	remaining: 2.46s
648:	total: 4.54s	remaining: 2.46s
649:	total: 4.55s	remaining: 2.45s
650:	total: 4.56s	remaining: 2.44s
651:	total: 4.57s	remaining: 2.44s
652:	total: 4.58s	remaining: 2.43s
653:	total: 4.58s	remaining: 2.42s
654:	total: 4.59s	remaining: 2.42s
655:	total: 4.6s	remaining: 2.41s
656:	total: 4.6s	remaining: 2.4s
657:	total: 4.61s	remaining: 2.4s
658:	total: 4.62s	remaining: 2.39s
659:	total: 4.63s	remaining: 2.38s
660:	total: 4.63s	remaining: 2.38s
661:	total: 4.64s	remaining: 2.37s
662:	total: 4.65s	remaining: 2.36s
663:	total: 4.65s	remaining: 2.35s
664:	total: 4.66s	remaining: 2.35s
665:	total: 4.67s	remaining: 2.34s
666:	total: 4.67s	remaining: 2.33s
667:	total: 4.68s	remaining: 2.33s
668:	total: 4.68s	remaining: 2.32s
669:	total: 4.69s	remaining: 2.31s
670:	total: 4.7s	remaining: 2.3s
671:	total: 4.71s	remaining: 2.3s
672:	total: 4.71s	remaining: 2.29s
673:	total: 4.72s	remaining: 2.28s
674:	total: 4.73s	remaining: 2.28s
675:	total: 4.74s	remaining: 2.27s
676:	total: 4.74s	remaining: 2.26s
677:	total: 4.75s	remaining: 2.26s
678:	total: 4.76s	remaining: 2.25s
679:	total: 4.76s	remaining: 2.24s
680:	total: 4.77s	remaining: 2.23s
681:	total: 4.78s	remaining: 2.23s
682:	total: 4.78s	remaining: 2.22s
683:	total: 4.79s	remaining: 2.21s
684:	total: 4.8s	remaining: 2.21s
685:	total: 4.8s	remaining: 2.2s
686:	total: 4.81s	remaining: 2.19s
687:	total: 4.82s	remaining: 2.19s
688:	total: 4.83s	remaining: 2.18s
689:	total: 4.83s	remaining: 2.17s
690:	total: 4.84s	remaining: 2.16s
691:	total: 4.84s	remaining: 2.16s
692:	total: 4.85s	remaining: 2.15s
693:	total: 4.86s	remaining: 2.14s
694:	total: 4.87s	remaining: 2.13s
695:	total: 4.87s	remaining: 2.13s
696:	total: 4.88s	remaining: 2.12s
697:	total: 4.88s	remaining: 2.11s
698:	total: 4.89s	remaining: 2.11s
699:	total: 4.9s	remaining: 2.1s
700:	total: 4.91s	remaining: 2.09s
701:	total: 4.92s	remaining: 2.09s
702:	total: 4.93s	remaining: 2.08s
703:	total: 4.93s	remaining: 2.07s
704:	total: 4.94s	remaining: 2.07s
705:	total: 4.95s	remaining: 2.06s
706:	total: 4.97s	remaining: 2.06s
707:	total: 4.98s	remaining: 2.05s
708:	total: 4.99s	remaining: 2.05s
709:	total: 5s	remaining: 2.04s
710:	total: 5.01s	remaining: 2.04s
711:	total: 5.01s	remaining: 2.03s
712:	total: 5.02s	remaining: 2.02s
713:	total: 5.03s	remaining: 2.02s
714:	total: 5.04s	remaining: 2.01s
715:	total: 5.05s	remaining: 2s
716:	total: 5.05s	remaining: 1.99s
717:	total: 5.06s	remaining: 1.99s
718:	total: 5.07s	remaining: 1.98s
719:	total: 5.08s	remaining: 1.97s
720:	total: 5.08s	remaining: 1.97s
721:	total: 5.09s	remaining: 1.96s
722:	total: 5.1s	remaining: 1.95s
723:	total: 5.11s	remaining: 1.95s
724:	total: 5.12s	remaining: 1.94s
725:	total: 5.13s	remaining: 1.93s
726:	total: 5.13s	remaining: 1.93s
727:	total: 5.14s	remaining: 1.92s
728:	total: 5.15s	remaining: 1.91s
729:	total: 5.16s	remaining: 1.91s
730:	total: 5.17s	remaining: 1.9s
731:	total: 5.17s	remaining: 1.89s
732:	total: 5.18s	remaining: 1.89s
733:	total: 5.19s	remaining: 1.88s
734:	total: 5.19s	remaining: 1.87s
735:	total: 5.2s	remaining: 1.86s
736:	total: 5.21s	remaining: 1.86s
737:	total: 5.21s	remaining: 1.85s
738:	total: 5.22s	remaining: 1.84s
739:	total: 5.23s	remaining: 1.84s
740:	total: 5.24s	remaining: 1.83s
741:	total: 5.24s	remaining: 1.82s

742:	total: 5.25s	remaining: 1.81s
743:	total: 5.26s	remaining: 1.81s
744:	total: 5.26s	remaining: 1.8s
745:	total: 5.27s	remaining: 1.79s
746:	total: 5.28s	remaining: 1.79s
747:	total: 5.29s	remaining: 1.78s
748:	total: 5.3s	remaining: 1.77s
749:	total: 5.3s	remaining: 1.77s
750:	total: 5.31s	remaining: 1.76s
751:	total: 5.32s	remaining: 1.75s
752:	total: 5.33s	remaining: 1.75s
753:	total: 5.34s	remaining: 1.74s
754:	total: 5.35s	remaining: 1.74s
755:	total: 5.36s	remaining: 1.73s
756:	total: 5.37s	remaining: 1.72s
757:	total: 5.37s	remaining: 1.72s
758:	total: 5.38s	remaining: 1.71s
759:	total: 5.39s	remaining: 1.7s
760:	total: 5.4s	remaining: 1.7s
761:	total: 5.41s	remaining: 1.69s
762:	total: 5.41s	remaining: 1.68s
763:	total: 5.42s	remaining: 1.67s
764:	total: 5.43s	remaining: 1.67s
765:	total: 5.44s	remaining: 1.66s
766:	total: 5.45s	remaining: 1.65s
767:	total: 5.45s	remaining: 1.65s
768:	total: 5.46s	remaining: 1.64s
769:	total: 5.47s	remaining: 1.63s
770:	total: 5.48s	remaining: 1.63s
771:	total: 5.49s	remaining: 1.62s
772:	total: 5.49s	remaining: 1.61s
773:	total: 5.5s	remaining: 1.61s
774:	total: 5.51s	remaining: 1.6s
775:	total: 5.52s	remaining: 1.59s
776:	total: 5.53s	remaining: 1.58s
777:	total: 5.53s	remaining: 1.58s
778:	total: 5.54s	remaining: 1.57s
779:	total: 5.55s	remaining: 1.56s
780:	total: 5.55s	remaining: 1.56s
781:	total: 5.56s	remaining: 1.55s
782:	total: 5.57s	remaining: 1.54s
783:	total: 5.58s	remaining: 1.54s
784:	total: 5.58s	remaining: 1.53s
785:	total: 5.59s	remaining: 1.52s
786:	total: 5.6s	remaining: 1.51s
787:	total: 5.61s	remaining: 1.51s
788:	total: 5.62s	remaining: 1.5s
789:	total: 5.63s	remaining: 1.5s
790:	total: 5.64s	remaining: 1.49s
791:	total: 5.64s	remaining: 1.48s
792:	total: 5.65s	remaining: 1.48s
793:	total: 5.66s	remaining: 1.47s
794:	total: 5.67s	remaining: 1.46s
795:	total: 5.68s	remaining: 1.46s
796:	total: 5.69s	remaining: 1.45s
797:	total: 5.69s	remaining: 1.44s
798:	total: 5.7s	remaining: 1.43s
799:	total: 5.71s	remaining: 1.43s
800:	total: 5.72s	remaining: 1.42s
801:	total: 5.73s	remaining: 1.41s
802:	total: 5.73s	remaining: 1.41s
803:	total: 5.74s	remaining: 1.4s
804:	total: 5.75s	remaining: 1.39s
805:	total: 5.76s	remaining: 1.39s
806:	total: 5.77s	remaining: 1.38s
807:	total: 5.78s	remaining: 1.37s
808:	total: 5.78s	remaining: 1.36s
809:	total: 5.79s	remaining: 1.36s
810:	total: 5.8s	remaining: 1.35s
811:	total: 5.81s	remaining: 1.34s
812:	total: 5.81s	remaining: 1.34s
813:	total: 5.82s	remaining: 1.33s
814:	total: 5.83s	remaining: 1.32s
815:	total: 5.84s	remaining: 1.32s
816:	total: 5.84s	remaining: 1.31s
817:	total: 5.85s	remaining: 1.3s
818:	total: 5.86s	remaining: 1.29s
819:	total: 5.87s	remaining: 1.29s
820:	total: 5.87s	remaining: 1.28s
821:	total: 5.88s	remaining: 1.27s
822:	total: 5.89s	remaining: 1.27s
823:	total: 5.9s	remaining: 1.26s
824:	total: 5.91s	remaining: 1.25s
825:	total: 5.92s	remaining: 1.25s
826:	total: 5.93s	remaining: 1.24s
827:	total: 5.94s	remaining: 1.23s
828:	total: 5.94s	remaining: 1.23s
829:	total: 5.95s	remaining: 1.22s
830:	total: 5.96s	remaining: 1.21s
831:	total: 5.97s	remaining: 1.21s
832:	total: 5.99s	remaining: 1.2s
833:	total: 6s	remaining: 1.19s
834:	total: 6.01s	remaining: 1.19s
835:	total: 6.01s	remaining: 1.18s
836:	total: 6.02s	remaining: 1.17s
837:	total: 6.03s	remaining: 1.17s
838:	total: 6.04s	remaining: 1.16s
839:	total: 6.05s	remaining: 1.15s
840:	total: 6.06s	remaining: 1.15s
841:	total: 6.07s	remaining: 1.14s
842:	total: 6.07s	remaining: 1.13s
843:	total: 6.08s	remaining: 1.12s
844:	total: 6.09s	remaining: 1.12s
845:	total: 6.09s	remaining: 1.11s
846:	total: 6.1s	remaining: 1.1s
847:	total: 6.11s	remaining: 1.09s
848:	total: 6.12s	remaining: 1.09s
849:	total: 6.13s	remaining: 1.08s
850:	total: 6.13s	remaining: 1.07s
851:	total: 6.14s	remaining: 1.07s
852:	total: 6.15s	remaining: 1.06s
853:	total: 6.16s	remaining: 1.05s
854:	total: 6.16s	remaining: 1.04s
855:	total: 6.17s	remaining: 1.04s
856:	total: 6.18s	remaining: 1.03s
857:	total: 6.19s	remaining: 1.02s
858:	total: 6.2s	remaining: 1.02s
859:	total: 6.21s	remaining: 1.01s
860:	total: 6.22s	remaining: 1s
861:	total: 6.23s	remaining: 997ms
862:	total: 6.24s	remaining: 990ms
863:	total: 6.25s	remaining: 983ms
864:	total: 6.25s	remaining: 976ms
865:	total: 6.26s	remaining: 969ms
866:	total: 6.27s	remaining: 962ms
867:	total: 6.28s	remaining: 955ms
868:	total: 6.29s	remaining: 948ms
869:	total: 6.29s	remaining: 940ms
870:	total: 6.3s	remaining: 933ms
871:	total: 6.31s	remaining: 926ms
872:	total: 6.32s	remaining: 919ms
873:	total: 6.32s	remaining: 912ms
874:	total: 6.33s	remaining: 905ms
875:	total: 6.34s	remaining: 898ms
876:	total: 6.35s	remaining: 890ms
877:	total: 6.36s	remaining: 883ms
878:	total: 6.36s	remaining: 876ms
879:	total: 6.37s	remaining: 869ms
880:	total: 6.38s	remaining: 862ms
881:	total: 6.39s	remaining: 855ms
882:	total: 6.39s	remaining: 847ms
883:	total: 6.4s	remaining: 840ms
884:	total: 6.41s	remaining: 833ms
885:	total: 6.42s	remaining: 826ms
886:	total: 6.42s	remaining: 818ms
887:	total: 6.43s	remaining: 811ms
888:	total: 6.44s	remaining: 804ms
889:	total: 6.45s	remaining: 797ms
890:	total: 6.45s	remaining: 790ms
891:	total: 6.46s	remaining: 783ms
892:	total: 6.47s	remaining: 775ms
893:	total: 6.48s	remaining: 768ms
894:	total: 6.49s	remaining: 761ms
895:	total: 6.5s	remaining: 754ms
896:	total: 6.51s	remaining: 747ms
897:	total: 6.51s	remaining: 740ms
898:	total: 6.52s	remaining: 733ms
899:	total: 6.53s	remaining: 726ms
900:	total: 6.54s	remaining: 718ms
901:	total: 6.55s	remaining: 711ms
902:	total: 6.55s	remaining: 704ms
903:	total: 6.56s	remaining: 697ms
904:	total: 6.57s	remaining: 690ms
905:	total: 6.58s	remaining: 683ms
906:	total: 6.59s	remaining: 675ms
907:	total: 6.59s	remaining: 668ms
908:	total: 6.6s	remaining: 661ms
909:	total: 6.61s	remaining: 654ms
910:	total: 6.62s	remaining: 647ms
911:	total: 6.63s	remaining: 640ms
912:	total: 6.63s	remaining: 632ms
913:	total: 6.64s	remaining: 625ms
914:	total: 6.65s	remaining: 618ms
915:	total: 6.66s	remaining: 611ms
916:	total: 6.67s	remaining: 603ms
917:	total: 6.67s	remaining: 596ms
918:	total: 6.68s	remaining: 589ms
919:	total: 6.69s	remaining: 582ms
920:	total: 6.69s	remaining: 574ms
921:	total: 6.7s	remaining: 567ms
922:	total: 6.71s	remaining: 560ms
923:	total: 6.71s	remaining: 552ms
924:	total: 6.72s	remaining: 545ms
925:	total: 6.73s	remaining: 538ms
926:	total: 6.74s	remaining: 531ms
927:	total: 6.74s	remaining: 523ms
928:	total: 6.75s	remaining: 516ms
929:	total: 6.76s	remaining: 509ms
930:	total: 6.76s	remaining: 501ms
931:	total: 6.77s	remaining: 494ms
932:	total: 6.78s	remaining: 487ms
933:	total: 6.79s	remaining: 480ms
934:	total: 6.79s	remaining: 472ms
935:	total: 6.8s	remaining: 465ms
936:	total: 6.81s	remaining: 458ms
937:	total: 6.81s	remaining: 450ms
938:	total: 6.82s	remaining: 443ms
939:	total: 6.83s	remaining: 436ms
940:	total: 6.83s	remaining: 429ms
941:	total: 6.84s	remaining: 421ms
942:	total: 6.85s	remaining: 414ms
943:	total: 6.86s	remaining: 407ms
944:	total: 6.86s	remaining: 399ms
945:	total: 6.87s	remaining: 392ms
946:	total: 6.88s	remaining: 385ms
947:	total: 6.88s	remaining: 378ms
948:	total: 6.89s	remaining: 370ms
949:	total: 6.9s	remaining: 363ms
950:	total: 6.9s	remaining: 356ms
951:	total: 6.91s	remaining: 349ms
952:	total: 6.92s	remaining: 341ms
953:	total: 6.93s	remaining: 334ms
954:	total: 6.93s	remaining: 327ms
955:	total: 6.94s	remaining: 320ms
956:	total: 6.95s	remaining: 312ms
957:	total: 6.96s	remaining: 305ms
958:	total: 6.96s	remaining: 298ms
959:	total: 6.97s	remaining: 291ms
960:	total: 6.98s	remaining: 283ms
961:	total: 6.99s	remaining: 276ms
962:	total: 7s	remaining: 269ms
963:	total: 7s	remaining: 261ms
964:	total: 7.01s	remaining: 254ms
965:	total: 7.02s	remaining: 247ms
966:	total: 7.02s	remaining: 240ms
967:	total: 7.03s	remaining: 232ms
968:	total: 7.04s	remaining: 225ms
969:	total: 7.04s	remaining: 218ms
970:	total: 7.05s	remaining: 211ms
971:	total: 7.06s	remaining: 203ms
972:	total: 7.06s	remaining: 196ms
973:	total: 7.07s	remaining: 189ms
974:	total: 7.08s	remaining: 181ms
975:	total: 7.08s	remaining: 174ms
976:	total: 7.09s	remaining: 167ms
977:	total: 7.1s	remaining: 160ms
978:	total: 7.11s	remaining: 152ms
979:	total: 7.11s	remaining: 145ms
980:	total: 7.12s	remaining: 138ms
981:	total: 7.13s	remaining: 131ms
982:	total: 7.14s	remaining: 123ms
983:	total: 7.14s	remaining: 116ms
984:	total: 7.15s	remaining: 109ms
985:	total: 7.16s	remaining: 102ms
986:	total: 7.17s	remaining: 94.4ms
987:	total: 7.17s	remaining: 87.1ms
988:	total: 7.18s	remaining: 79.9ms
989:	total: 7.19s	remaining: 72.6ms
990:	total: 7.19s	remaining: 65.3ms
991:	total: 7.2s	remaining: 58.1ms
992:	total: 7.21s	remaining: 50.8ms
993:	total: 7.21s	remaining: 43.6ms
994:	total: 7.22s	remaining: 36.3ms
995:	total: 7.23s	remaining: 29ms
996:	total: 7.24s	remaining: 21.8ms
997:	total: 7.24s	remaining: 14.5ms
998:	total: 7.25s	remaining: 7.26ms
999:	total: 7.26s	remaining: 0us

In [99]:
pred

array([1., 0., 0., ..., 0., 0., 0.])

In [100]:
submissiondata.outcome=pred

0.0    0.725735
1.0    0.274265
Name: outcome, dtype: float64

In [127]:
# submission Dataframe

submission = pd.DataFrame({'Patient_ID':test.Patient_ID,
                           'Health_Camp_ID': test.Health_Camp_ID,
                          'Outcome': pred[:, 1]})

In [103]:
submissiondata.to_csv('VotingModel.csv', index = False)

In [128]:
from lightgbm import LGBMClassifier

In [134]:
lgbm = LGBMClassifier(n_estimators=500, max_depth=10,
                     random_state=42,
                     learning_rate=0.01, 
                     scale_pos_weight = 3)

In [135]:
pred_lgbm = lgbm.fit(X,y).predict_proba(newtest)

In [136]:
pred_lgbm[:,1]

array([0.85390021, 0.60135099, 0.37209634, ..., 0.6567897 , 0.35696185,
       0.75523136])

In [137]:
submission = pd.DataFrame({'Patient_ID':test.Patient_ID,
                           'Health_Camp_ID': test.Health_Camp_ID,
                          'Outcome': pred_lgbm[:, 1]})

submission.to_csv('LGB_Model.csv', index = False)

# Cross validation and RFECV

In [138]:
from sklearn.tree import DecisionTreeClassifier

In [139]:
from sklearn.feature_selection import RFECV

In [140]:
dtree = DecisionTreeClassifier()
rfe = RFECV(estimator = dtree, step = 1,
           min_features_to_select = 5, cv = 5, verbose = 5)

In [141]:
rfe.fit(X,y)
feat = list(rfe.get_feature_names_out())
print(feat)

Fitting estimator with 26 features.
Fitting estimator with 25 features.
Fitting estimator with 24 features.
Fitting estimator with 23 features.
Fitting estimator with 22 features.
Fitting estimator with 21 features.
Fitting estimator with 20 features.
Fitting estimator with 19 features.
Fitting estimator with 18 features.
Fitting estimator with 17 features.
Fitting estimator with 16 features.
Fitting estimator with 15 features.
Fitting estimator with 14 features.
Fitting estimator with 13 features.
Fitting estimator with 12 features.
Fitting estimator with 11 features.
Fitting estimator with 10 features.
Fitting estimator with 9 features.
Fitting estimator with 8 features.
Fitting estimator with 7 features.
Fitting estimator with 6 features.
Fitting estimator with 26 features.
Fitting estimator with 25 features.
Fitting estimator with 24 features.
Fitting estimator with 23 features.
Fitting estimator with 22 features.
Fitting estimator with 21 features.
Fitting estimator with 20 features.
Fitting estimator with 19 features.
Fitting estimator with 18 features.
Fitting estimator with 17 features.
Fitting estimator with 16 features.
Fitting estimator with 15 features.
Fitting estimator with 14 features.
Fitting estimator with 13 features.
Fitting estimator with 12 features.
Fitting estimator with 11 features.
Fitting estimator with 10 features.
Fitting estimator with 9 features.
Fitting estimator with 8 features.
Fitting estimator with 7 features.
Fitting estimator with 6 features.
Fitting estimator with 26 features.
Fitting estimator with 25 features.
Fitting estimator with 24 features.
Fitting estimator with 23 features.
Fitting estimator with 22 features.
Fitting estimator with 21 features.
Fitting estimator with 20 features.
Fitting estimator with 19 features.
Fitting estimator with 18 features.
Fitting estimator with 17 features.
Fitting estimator with 16 features.
Fitting estimator with 15 features.
Fitting estimator with 14 features.
Fitting estimator with 13 features.
Fitting estimator with 12 features.
Fitting estimator with 11 features.
Fitting estimator with 10 features.
Fitting estimator with 9 features.
Fitting estimator with 8 features.
Fitting estimator with 7 features.
Fitting estimator with 6 features.
Fitting estimator with 26 features.
Fitting estimator with 25 features.
Fitting estimator with 24 features.
Fitting estimator with 23 features.
Fitting estimator with 22 features.
Fitting estimator with 21 features.
Fitting estimator with 20 features.
Fitting estimator with 19 features.
Fitting estimator with 18 features.
Fitting estimator with 17 features.
Fitting estimator with 16 features.
Fitting estimator with 15 features.
Fitting estimator with 14 features.
Fitting estimator with 13 features.
Fitting estimator with 12 features.
Fitting estimator with 11 features.
Fitting estimator with 10 features.
Fitting estimator with 9 features.
Fitting estimator with 8 features.
Fitting estimator with 7 features.
Fitting estimator with 6 features.
Fitting estimator with 26 features.
Fitting estimator with 25 features.
Fitting estimator with 24 features.
Fitting estimator with 23 features.
Fitting estimator with 22 features.
Fitting estimator with 21 features.
Fitting estimator with 20 features.
Fitting estimator with 19 features.
Fitting estimator with 18 features.
Fitting estimator with 17 features.
Fitting estimator with 16 features.
Fitting estimator with 15 features.
Fitting estimator with 14 features.
Fitting estimator with 13 features.
Fitting estimator with 12 features.
Fitting estimator with 11 features.
Fitting estimator with 10 features.
Fitting estimator with 9 features.
Fitting estimator with 8 features.
Fitting estimator with 7 features.
Fitting estimator with 6 features.
Fitting estimator with 26 features.
['Var1', 'Var2', 'Var4', 'Var5', 'Category1', 'Category2', 'Category3', 'Registration_Day', 'Registration_Month', 'Registration_Year', 'Camp_Start_Month', 'Camp_Start_Day', 'Camp_Start_Year', 'Camp_End_Month', 'Camp_End_Day', 'Camp_End_Year', 'Online_Presence', 'Camp_Duration', 'Int_days_diff', 'HC_per_patient', 'Patient_per_HC', 'Patients_Per_Month', 'Patients_Per_Year', 'Patients_Per_End_Year', 'Patients_Per_End_Month']

In [142]:
feat

['Var1',
 'Var2',
 'Var4',
 'Var5',
 'Category1',
 'Category2',
 'Category3',
 'Registration_Day',
 'Registration_Month',
 'Registration_Year',
 'Camp_Start_Month',
 'Camp_Start_Day',
 'Camp_Start_Year',
 'Camp_End_Month',
 'Camp_End_Day',
 'Camp_End_Year',
 'Online_Presence',
 'Camp_Duration',
 'Int_days_diff',
 'HC_per_patient',
 'Patient_per_HC',
 'Patients_Per_Month',
 'Patients_Per_Year',
 'Patients_Per_End_Year',
 'Patients_Per_End_Month']

In [143]:
# RFE Features
rfe_input = X.loc[:, feat]
rfe_test = newtest.loc[:, feat]
rfe_input.shape, rfe_test.shape

((75278, 25), (35249, 25))

In [146]:
lgbm = LGBMClassifier(n_estimators=500, max_depth=10,
                     random_state=42,
                     learning_rate=0.01, 
                     scale_pos_weight = 3)

pred_lgbm = lgbm.fit(rfe_input,y).predict_proba(rfe_test)
submission = pd.DataFrame({'Patient_ID':test.Patient_ID,
                           'Health_Camp_ID': test.Health_Camp_ID,
                          'Outcome': pred_lgbm[:, 1]})

submission.to_csv('RFE_Model.csv', index = False)

# Cross - Validation

In [145]:
from sklearn.model_selection import KFold

In [147]:
kfold = KFold(n_splits = 5, shuffle= True )
lgbm = LGBMClassifier(n_estimators=500, max_depth=10,
                     random_state=42,
                     learning_rate=0.01, 
                     scale_pos_weight = 3)

pred_df = pd.DataFrame()
n = 5
for i in range(n):
    folds = next(kfold.split(X))   # splitting into 5 folds
    xtrain = X.iloc[folds[0]]       # create xtrain data
    ytrain = y.iloc[folds[0]]
    lgbm.fit(xtrain, ytrain)
    pred_df[i] = lgbm.predict_proba(newtest)[:,1]

In [148]:
median_prob = pred_df.median(axis = 1)

In [149]:
submission = pd.DataFrame({'Patient_ID':test.Patient_ID,
                          'Health_Camp_ID': test.Health_Camp_ID,
                          'Outcome': median_prob})

submission.to_csv('MedianProb_Model.csv', index = False)

# Summary

* Model performance increases drastically by the Feature engineering
* we saw that LGBM appeared to be the best model across for this competition leading at #2 in Public Leaderboard
* The features selected during RFECV did not wrok wellso we had to drop the model.
* Parameter tuning of LGBM can take model performance at a whole new level.
* Cross validatiom model did a good job earning us a couple of brownie points at the leaderboard
* We studied that the Target variable can be masked and we could find from the problem statement.